.root-div {
  height: 100vh;
}

.index-body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.sidebar-container {
  width: 320px;
  overflow-x: hidden;
}

.sidebar {
  width: 318px;
  height: 100%;
  position: absolute;
  overflow-y: scroll;
}

.tweet-list-item {
  border: 1px solid black;
  height: 100px;
}

.map-container {
  top: 0;
  width: 80%;
  height: 100%;
}

.map {
  top: 0;
  width: 100%;
  height: 100%;
}

.info-window {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items:flex-start;
}

.info-window-item {
  margin: 10px;
  color: #02344A;
  font-family: "Open Sans", "Arial", sans-serif;
}

.info-window-image {
  height: 50px;
  width: auto;
  border-radius: 5px;
  margin: 10px;
}

.weight {
  font-weight: 700;
}
