.root-div {
  height: 100vh;
}

.index-body {
  border: 1px solid black;
  width: 100%;
  height: 95%;
  display: flex;
  justify-content: flex-start;
}

.sidebar-container {

}

.sidebar {
  width: 325px;
  overflow-y: scroll;
}

.tweet-list-item {
  border: 1px solid black;
  height: 100px;
}

.map-container {
  top: 0;
  width: 80%;
  height: 100%;
}

.map {
  top: 0;
  width: 100%;
  height: 100%;
}
