.sidebar-container {
  min-width: 280px;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Roboto:300', 'Open Sans', sans-serif;
}

.sidebar {
  width: 278px;
  height: 100%;
  overflow-y: scroll;
}

.search-disclaimer {
  width: 80%;
  padding: 0;
  position: relative;
  left: 16px;
  top: 25px;
}

.search-disclaimer-text {
  text-align: center;
}

.search-disclaimer-text strong {
  font-weight: bold;
}
