.sidebar-container {
  min-width: 280px;
  overflow-x: hidden;
  font-family: 'Roboto:300', 'Open Sans', sans-serif;
}

.sidebar {
  width: 278px;
  height: 100%;
  position: absolute;
  overflow-y: scroll;
}

.search-disclaimer {
  width: 80%;
  padding: 0;
  position: relative;
  left: 16px;
  top: 25px;
}

.search-disclaimer-text {
  text-align: center;
}

.search-disclaimer-text strong {
  font-weight: bold;
}

.spinner {
    display: none;
    position: fixed;
    top: 50%;
    left: 100px;
    // margin-left: -50px; /* half width of the spinner gif */
    // margin-top: -50px; /* half height of the spinner gif */
    // text-align:center;
    z-index:2;
    overflow: auto;
    width: 100px; /* width of the spinner gif */
    height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
}
