<!DOCTYPE html>
<html>
  <head>
    <title>SFTweets</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaygxrYf8wtpoLyo3s7sEXA4kK-YGW9jI&libraries=places"></script>
  </head>


  <body>
    <%= yield %>
  </body>
</html>
